@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.weather-container{
    width:70%;
    margin:10rem auto 0 auto;
    /* height: 500px; */
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: none;
    outline: none;
    /* border: 1px solid red; */
    box-shadow: inset 1px 1px 100px 1px rgba(75,68,224,0.74),
                1px 1px 20px 5px rgba(64,198,238,1);

}
.weather-container .search-bar-container .search-bar form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}
.weather-container .search-bar-container .search-bar form input[type="text"]{
    /* border: 1px solid red; */
    width: 250px;
    /* margin:1rem auto auto auto; */
    margin-top: 2rem;
    outline: none;
    border: none;
    padding: .5rem .5rem;
    font-size: 1.2rem;
    background-color: transparent;
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 15px 0px 0px 15px;
    box-shadow: inset -1px -1px 10px 1px rgba(75,68,224,0.5);
    transition:ease-in-out .3s ;
}
.weather-container .search-bar-container .search-bar form input::placeholder{
    color: #fff;
    text-align: center;
}
.weather-container .search-bar-container .search-bar form input[type="submit"]{
    border:none;
    background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );;
    border-radius: 0px 15px 15px 0;
    width:90px;
    /* margin: auto; */
    margin-top: 2rem;
    outline: none;
    border-left: 2px solid rgba(85,228,224,1);
    padding: .5rem .2rem;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}
main .weather-container .weather-information{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    margin: 3rem 0 0 0;
}
main .weather-container .weather-information .temp-section{
    text-align: center;
    /* border: 1px solid red; */
    width: 300px;
    height: 170px;
    border-radius: 15px;
    margin: auto;
    box-shadow: inset -1px -1px 10px 1px rgba(68, 219, 224, 0.837);
    backdrop-filter: blur(15px);
    cursor:default;
}
main .weather-container .weather-information .temp-section h2{
  color: #fff;
  font-size: 2.5rem;
}
main .weather-container .weather-information .temp-section h1{
    color: rgba(85,228,224,1);
    font-size: 4rem;
}
main .weather-container .weather-information .details-section{
    /* border: 1px solid rgb(90, 207, 90); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
    width: 100%;
}
main .weather-container .weather-information .details-section p{
    font-size: 1.2rem;
    color: #fff;
    width:80%;
    /* border: 1px solid greenyellow */

}